.ekill-cursor,
.ekill-cursor a,
.ekill-cursor input,
.ekill-cursor select,
.ekill-cursor button {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15'%3E%3Cpath d='M14 14.7c-.1.2-.3.3-.5.3h-.2l-5.8-2.4L1.7 15c-.3.1-.5 0-.6-.3a.5.5 0 0 1 .2-.7l4.9-2-4.9-2a.5.5 0 1 1 .4-1l5.8 2.5L13.3 9a.5.5 0 1 1 .4.9l-4.9 2 4.8 2a.5.5 0 0 1 .3.7zM12 4.2v.5c0 .2 0 .4-.2.6L10 7v1.2c0 .2-.1.4-.3.4l-2.2.9-2.2-.9a.5.5 0 0 1-.3-.4V7L3.2 5.3a1 1 0 0 1-.2-.6v-.5C3.2 2 4.9.2 7.1 0H8c2.2.2 4 2 4.1 4.2zM6 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm1 3a.5.5 0 0 0-1 0v.5a.5.5 0 0 0 1 0V7zm2 0a.5.5 0 0 0-1 0v.5a.5.5 0 0 0 1 0V7zm2-3a1 1 0 1 0-2 0 1 1 0 0 0 2 0z'/%3E%3C/svg%3E"), crosshair !important;
}

.ekill {
  filter: opacity(0.2);
  box-shadow: inset 0px 0px 25px rgba(255,0,0,.5);
}
